.context-card {
  background: var(--main-dark);
  color: var(--main-secondary);
  border-top: 3px solid var(--main-accent);
  margin: 0rem 0;
  width: 100vw;
  max-width: 100vw;
  padding: 2rem 1.5rem;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  text-align: center;
  box-sizing: border-box;
  border-radius: 0;
}

.context-card-heading {
  font-family: "Special Gothic Expanded One", Arial, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  margin-bottom: 1rem; 
  color: var(--main-text-light); 
  text-shadow: 2px 2px 0 var(--main-secondary);
  text-transform: uppercase;
}

.context-card-text {
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: var(--main-text-light);
    font-family: "Special Gothic Expanded One", Arial, sans-serif;
  margin: 0 50px;
}

.highlight-word {
  color: var(--main-accent); 
}

@media (max-width: 600px) {
  .context-card {
    padding: 1rem 0.5rem;
    font-size: 1rem;
  }
  .context-card-heading {
    font-size: 1.3rem;
  }
}
