.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background: var(--main-dark);
  color: var(--main-accent);
  font-family: "Special Gothic Expanded One", Arial, sans-serif;
  font-weight: bold;
}

.navbar-title {
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.2rem; /* Increased top and bottom padding for mobile */
  }
}
