.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--general-bg);
  color: var(--general-accent);
  font-weight: bold;
  border-radius: var(--border-radius);
}
.navbar-title {
  font-size: 1.3rem;
}
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }
}
