:root {

/* GROUPS */

    /* General */
    --general-bg: #c8d7dc;
    --general-accent: #1976d2;
    /* Basic Editing */
    --edit-bg: #fce4ec;
    --edit-accent: #d81b60;
    /* Intergrated Terminal */

    /* File Management */

    /* Search and Replace */


/* PAGE STYLING */

    /* Navbar */
    --nav-bg: #081b26;
    --nav-text: #586166;
    --nav-accent: #f2766b;
    --text-main: #222;
    --border-radius: 12px;

    /* ContextCard */
    --contextcard-primary: #081b26;
    --contextcard-secondary: #586166;
    --contextcard-accent: #f2766b;


    /* TEST PALLETTES */

    --coral-primary: #F2858E;
    --coral-secondary: #7A2246;
    --coral-accent: #0D0D0D;

    --wine-primary: #f56f4f;
    --wine-secondary: #35604e;
    --wine-accent: #001a12;

    --aqua-primary: #67d5ae;
    --aqua-secondary: #476f91;
    --aqua-accent: #052947;
}
